* {
    margin: 0;
}

.menu-1 {
    background-color: #1899d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.heart{
    display: inline-block;
    position: fixed;
    left: 1030PX;
}

.sub-menu {
    margin-top: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}

#categorias-bold {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: bold;
}

#pesquisa {
    width: 30%;
    height: 50px;
    border-radius: 15px;
    border-style: none;
    text-align: left;

}

.links-1 {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.links-2 {
    
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: black;

}

.sub-menu {
    width: 100%;
    background-color: rgb(224, 224, 224);
    height: 40px;
}


.banner {
    padding-top: 143px;
    width: 100%;
}

.borda1 {
    border: solid rgb(139, 139, 139) 1px;
    display: inline-block;
    width: 300px;
    height: 100px;
    border-radius: 100px;

}

.borda2 {
    border: solid rgb(139, 139, 139) 1px;
    background-color: #1899d5;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding: 15px;

}

.sub-baner{
    display: flex;
    justify-content: center;
}

#sub-baner1{
    margin: 15px;
}

#sub-baner2{
    margin: 15px;
}

.link-icones1{
    display: inline-flex;
    align-items: center;
}


.link-icones2{
    display: inline-flex;
    align-items: center;
}


.link-icones3{
    display: inline-flex;
    align-items: center;
}

.link-icones4{
    display: inline-flex;
    align-items: center;
}




.heart-fill{
    display: inline-flex;
    margin-right: 15px;
    transform: scale(1.4);
}

.user-fill{
    display: inline-flex;
    margin-right: 15px;
    transform: scale(1);
}

.telephone-fill{
    display: inline-flex;
    margin-right: 15px;
    transform: scale(1.4);
}

.cart-check-fill{
    display: inline-flex;
    margin-right: 15px;
    transform: scale(1.8);
}